
.dropdown-container{

}

.dropdown {
    /* margin-top: 1px; */
    max-height: 0;
    width: auto;
    padding: 0 10px;
    margin-left: 10px;
    border: 2px solid #ccc;
    border-top: 0;
    border-bottom: 0;
    background-color: #fff;
    position: absolute;
    display: flex;
    height: auto;
    flex-direction: column;
    overflow: hidden;
    border-top: 0;
    transition-property: height, padding-top, padding-bottom;
    /* transition-duration: 0.5s; */
    color: #555;  
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
.dropdown-item{
    transition-duration: 0.2s;
    padding: 3px 40px;
}

.dropdown-item:hover{
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}


  .dropdown-content {
    
  }
  
  .dropdown-content a {
  }
  
  .dropdown:hover .dropdown-content {
  }