.header {
    position: fixed;
    height: 8vh;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px #ccc solid;
    border-top: 0;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    z-index: 2;
    transition-duration: 0.2s;
}

.scrolled {
    width: 99%;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px #ccc solid;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    background-color: #7fffd4;
    /* background-color: aqua; */
    padding: 10px;
    font-weight: 700;
    color: #555;
    border-radius: 10px;
    font-size: 24px;
}

.logo:hover{
    background-color: #5dddb2;
    cursor: pointer;
}

.left-palm,
.right-palm {
    display: flex;
    flex-direction: column;
    fill: red;
    height: 30px;
    width: 30px;
}

.left-palm {
    transform: scale(-1, 1);
}

.palm-image{
    fill: red;
}

.to-login-button {
    background-color: #7fffd477;
    border: 0;
    color: #555;
    margin: 5px 0;
    margin-right: 5px;
    padding: 0 30px;
    font-size: 16px;
}

.to-login-button:hover {
    background-color: #5fdfb490;
    color: #555;
}