.login-form {
    display: flex;
    flex-direction: column;
    
    margin-top: 25vh;
    background-color: #fff;
    padding: 30px;
    border: 2px #ccc solid;
    border-radius: 20px;
    color: #555;
}

.login-form-inputs{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

.form-input {
    padding: 10px;
    border: 2px #ccc solid;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 20vw;
}

.input-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #999;
    font-size: 16px;
}

.login-button, .register-button {
    align-self: center;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #7fffd4;
    border: 1px solid aquamarine;
    color: #555;
    font-size: 20px;
    width: 150px;
}

.login-button:hover, .register-button:hover {
    background-color: #5fdfb4;
    border: 1px solid #5fdfb4;
    color: #555;
}

.to-register-part {
    display: flex;
    gap: 5px;
    justify-content: end;
    font-size: 18px;
}


.to-register {
    color: #5fdfb4;
}

.to-register:hover {
    color: #3fbf94;
    cursor: pointer;
}

.registration-form {
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
    background-color: #fff;
    color: #555;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 20px;
}

.form-inputs {
    gap: 20px;
    display: flex;
    margin: 20px;
}

.vertical-line {
    background-color: #ccc;
    width: 2px;
}

.to-login-text{
    align-self: end;
    font-size: 18px;
    color: #555;
}

.to-login{
    color: #5fdfb4;
}

.to-login:hover{
    color: #3fbf94;
    cursor: pointer;
}